body * {
	/*border: solid 1px black;*/
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
}

#main {
	margin: 0 auto;
	width: 650px;
	padding: 0 15px;
}

#main * {
	z-index: 0;
}

a {
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

a:hover img {
	box-shadow: 0px 0px 15px gray;
}

h1, h2 {
	text-align: center;
	color: #666666;
	font-size: 24px;
	font-weight: normal;
	margin: 28px 15px 0 15px;
	padding: 0;
}

h2 {
	margin: 15px 0;
	font-size: 16px;
	color: #333333;
}

.picRow {
	display: flex;
	justify-content: center;
	margin: 50px 0;
}

img {
	width: 200px;
	height: 200px;
}

figure {
	margin: 0 10px;
}

figcaption {
	text-align: center;
}


#copy {
	font-size: 10px;
	float: right;
}